<div class="input">
    <div class="input__title">{{title}}</div>
        <input type="text" name="{{name}}" class="input__field" placeholder="{{placeholder}}" autocomplete="name">
    <div class="input__error">{{title}}: ошибка валидации</div>
</div>
