<div class="card">
    {{> Header title="Вход"}}
    <form action="">
        {{> InputText name="login" title="Логин" placeholder="Логин"}}
        {{> InputPassword name="password" title="Пароль" placeholder="Пароль"}}
    </form>
    <div class="buttons">
        {{> Button title="Войти" className="button__color"}}
        {{> Button title="Зарегистрироваться"}}
    </div>
</div>
