<div class="navigation">
    {{> ButtonBack}}
</div>
<div class="settings">
    <div id="avatar">
        {{> Avatar}}
    </div>
    <form action="">
        {{> InputSetting type="text" name="email" label="Почта" value="foo@bar.baz" }}
        {{> InputSetting type="text" name="login" label="Логин" value="foobar" }}
        {{> InputSetting type="text" name="first_name" label="Имя" value="Иван" }}
        {{> InputSetting type="text" name="second_name" label="Фамилия" value="Иванов" }}
        {{> InputSetting type="text" name="display_name" label="Имя в чате" value="Иван" }}
        {{> InputSetting type="text" name="phone" label="Телефон" value="+7 (000) 000-00-00" }}
        <div id="button">
            {{> Button title="Сохранить" className="button__color"}}
        </div>
    </form>
</div>
