<div class="navigation">
    {{> ButtonBack}}
</div>
<div class="settings">
    <div id="avatar">
        {{> Avatar}}
    </div>
    {{> InputSetting type="text" id="email" label="Почта" value="foo@bar.baz" }}
    {{> InputSetting type="text" id="login" label="Логин" value="foobar" }}
    {{> InputSetting type="text" id="first_name" label="Имя" value="Иван" }}
    {{> InputSetting type="text" id="second_name" label="Фамилия" value="Иванов" }}
    {{> InputSetting type="text" id="display_name" label="Имя в чате" value="Иван" }}
    {{> InputSetting type="text" id="phone" label="Телефон" value="+7 (000) 000-00-00" }}
    <div id="button">
        {{> Button title="Сохранить" className="button__color"}}
    </div>
</div>
