<div class="input">
    <div class="input__title">{{title}}</div>
        <input type="password" name="{{name}}" class="input__field" placeholder="Пароль" autocomplete="current-password">
        <i class="fa-solid fa-eye icon"></i>
    <div class="input__error">Пароль: ошибка валидации</div>
</div>
