<div class="navigation">
    {{> ButtonBack}}
</div>
<div class="settings">
    <div id="avatar">
        {{> Avatar}}
    </div>
    {{> InputSetting type="password" name="oldPassword" label="Старый пароль" }}
    {{> InputSetting type="password" name="newPassword" label="Новый пароль" }}
    {{> InputSetting type="password" name="newPasswordCheck" label="Повторите новый пароль" }}
    <div id="button">
        {{> Button title="Сохранить" className="button__color"}}
    </div>
</div>
