@import '../../style'

$button-color: #C7C7C7
$link-color: #FFFFFF

.back
  width: 30px
  height: 30px
  color: white
  border: 1px solid white
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  transition: 0.1s

.back:hover
  color: black
  border-color: black

.button
  display: flex
  justify-content: center

button
  width: 360px
  height: 72px
  border: 0
  border-radius: 16px
  font-family: $font-family
  font-weight: $font-weight-extra-light
  font-style: normal
  font-size: 16px
  line-height: 24px
  background: $link-color
  transition: 0.1s

.button__color
  background: $button-color
