<div class="avatar">
    {{#if change}}
        <i id="icon" class="fa-regular fa-file-image"></i>
        <span id="title" page="change-avatar">Поменять аватар</span>
    {{else}}
        <i class="fa-regular fa-file-image"></i>
    {{/if}}
</div>
